.logo{
  font-size: 2em;
  font-weight: 800;
  font-family: "Poppins", sans-serif;

}
.logo a{
  color: #FF3414 !important;
}

.transportaion_area {
    padding: 80px 0 90px 0;
}

.transportaion_area .single_transport .icon {
    height: 50px;
    text-align: center;
}
.transportaion_area .single_transport {
    padding-right: 65px;
    margin-bottom: 30px;
    text-align: center;
}
.chose_area .features_info h3 {
    font-size: 46px;
    line-height: 60px;
    font-weight: 400;
    color: #2C2C2C;
}

.testimonial_area .owl-carousel .owl-item img {
    display: block;
    width: auto;
}
.thumb img{
  text-align: center;
  width:10% !important;

}
