.section_gap {
    padding-top: 30px !important;
    padding-right: 0px !important;
    padding-bottom: 30px !important;
    padding-left: 0px !important;
}
.navbar-light .navbar-brand {
    color: #002347;
    font-size: 2em;
}
.icon img{
  margin-top: -30px;

}
.contact_space{
  text-align: center;
}
.contact_space p {
    font-size: 1.4em;
    margin-bottom: 40px;
}
.events_area {
    padding: 60px 0 100px !important;
}
.native {
    width: 3em;
    margin-top: 0.8em;
}


@media (max-width: 991px){
.header_area .navbar {
    background: white !important;
}
}
@media (max-width: 991px){
.header_area .navbar .nav .nav-item .nav-link {
    color: #002347 !important;
}
}
